
/*
**	tek/ui/style/gradient.css - Gradient effect on buttons
**	Version: 1.0
*/

.button {
	background-color: gradient(0,0,tint(background,border-shadow,50%),0,30,tint(background,border-shine,50%));
}
.button:hover {
	background-color: gradient(0,0,tint(hover,border-shadow,50%),0,30,tint(hover,border-shine,50%));
}
.button:focus {
	background-color: gradient(0,0,tint(focus,border-shadow,50%),0,30,tint(focus,border-shine,50%));
}
.button:active {
	background-color: gradient(0,0,tint(active,border-shadow,50%),0,30,tint(active,border-shine,50%));
}
.button:disabled {
	background-color: gradient(0,0,tint(disabled,border-shadow,50%),0,30,tint(disabled,border-shine,50%));
}

