
/*
**	tek/ui/style/internal.css - tekUI internal stylesheet
**	Written by Timm S. Mueller <tmueller at schulze-mueller.de>
**	See copyright notice in COPYRIGHT
**
**	Note: This style sheet represents the hardcoded internal defaults in
**	tek.ui.class.theme. It has been included for illustration purposes only.
**
**	Version: 1.15
*/

/*
**	element classes:
*/

tek.ui.class.area {
	margin: 1;
}

tek.ui.class.checkmark {
	padding: 1;
	margin: 0;
	border-width: 1;
	border-focus-width: 1;
	text-align: left;
	vertical-align: center;
	vertical-grid-align: center;
	background-color: parent-group;
}

tek.ui.class.floattext {
	background-color: list;
}

tek.ui.class.frame {
	border-width: 2;
	border-style: inset;
}

tek.ui.class.gadget {
	border-width: 3;
	border-style: outset;
	border-focus-width: 1;
}

tek.ui.class.gadget:active {
	border-style: inset;
	background-color: active;
	color: active-detail;
}

tek.ui.class.gadget:disabled {
	background-color: disabled;
	color: disabled-detail;
}

tek.ui.class.gadget:focus {
	background-color: focus;
	color: focus-detail;
}

tek.ui.class.gadget:hover {
	background-color: hover;
	color: hover-detail;
}

tek.ui.class.gadget.knob-scrollbar {
	effect: ripple;
	effect-orientation: inline;
	effect-kind: dot;
}

tek.ui.class.gauge {
	padding: 0;
	border-style: inset;
	height: auto;
	vertical-grid-align: center;
}

tek.ui.class.group {
	margin: 0;
	background-color: group;
	border-width: 0;
	border-focus-width: 0;
}

tek.ui.class.handle {
	effect: ripple;
	effect-orientation: across;
	effect-kind: slant;
	border-width: 0;
	background-color: parent-group;
	padding: 5;
}

tek.ui.class.handle:active {
	border-style: outset;
	background-color: hover;
}

tek.ui.class.handle:hover {
	background-color: hover;
}

tek.ui.class.listgadget {
	background-color: list;
	background-color2: list2;
	border-width: 1;
	border-focus-width: 0;
	border-rim-width: 0;
	border-style: solid;
	border-color: detail;
	color: list-detail;
}

tek.ui.class.listgadget:active {
	background-color: list-active;
	color: list-active-detail;
}

tek.ui.class.menuitem {
	font: ui-menu;
	border-width: 0;
	margin: 0;
	width: fill;
}

tek.ui.class.menuitem:active {
	background-color: menu-active;
	color: menu-active-detail;
}

tek.ui.class.menuitem:hover {
	background-color: menu-active;
	color: menu-active-detail;
}

tek.ui.class.menuitem:focus {
	background-color: menu-active;
	color: menu-active-detail;
}

tek.ui.class.menuitem:popup-root {
	margin: 2;
	width: auto;
}

tek.ui.class.popitem {
	border-width: 4;
	border-style: outset;
	border-focus-width: 1;
	border-rim-width: 1;
	width: fill;
}

tek.ui.class.popitem:active {
	background-color: hover;
}

tek.ui.class.popupwindow {
	background-color: background;
	border-width: 1;
	border-style: solid;
	border-color: dark;
	padding: 0;
}

tek.ui.class.scrollbar {
	vertical-grid-align: center;
}

tek.ui.class.slider {
	padding: 0;
	border-style: inset;
	width: fill;
	height: fill;
}

tek.ui.class.slider:active {
	border-style: inset;
}

tek.ui.class.spacer {
	border-style: inset;
	border-width: 1;
}

tek.ui.class.text {
	border-style: inset;
	padding: 2 5 2 5;
	height: auto;
}

tek.ui.class.textinput {
	font: ui-fixed;
	border-style: inset;
	background-color: list;
}

tek.ui.class.textinput:disabled {
	background-color: disabled;
}

tek.ui.class.window {
	padding: 0;
	margin: 0;
}

/*
**	pre-defined classes:
*/

.button {
	border-style: outset;
	border-width: 4;
	border-rim-width: 1;
}

.button:active {
	border-style: inset;
}

.caption {
	border-width: 0;
	background-color: parent-group;
	text-align: center;
	vertical-align: center;
	horizontal-grid-align: center;
	vertical-grid-align: center;
}

.gauge-fill {
	border-style: solid;
	border-color: dark;
	border-width: 1;
	background-color: fill;
	padding: 5;
}

.knob {
	border-width: 3;
	border-focus-width: 0;
	border-rim-width: 1;
	margin: 0;
	padding: 5;
}

.legend {
	border-legend-font: ui-small;
	border-style: groove;
	border-width: 2;
	margin: 2;
	padding: 1;
}

.menubar {
	margin: 0;
	border-style: solid;
	border-width: 0 0 1 0;
	padding: 0;
	background-color: background;
	width: fill;
	height: auto;
}

.message {
	padding: 12;
}

.page-button {
	border-style: inset;
	border-width: 2 0 2 2;
	border-focus-width: 0;
	margin: 0;
}

.page-button:active {
	border-style: outset;
	border-bottom-color: group;
}

.page-button:focus {
	background-color: hover;
}

.page-button:hover {
	background-color: hover;
}

.page-button-fill {
	border-style: inset;
	border-width: 0 0 2 2;
	border-focus-width: 0;
	background-color: parent-group;
	margin: 0;
}

.page-button-group {
	margin: 4 2 0 0;
	padding-left: 2;
}

.page-container {
	border-width: 0 2 2 2;
	margin: 0 2 2 2;
	padding: 2;
}

.scrollbar-arrowup {
	padding: 1;
	margin-bottom: 0;
	border-width: 3;
}

.scrollbar-arrowdown {
	padding: 1;
	margin-top: 0;
	border-width: 3;
}

.scrollbar-arrowleft {
	padding: 1;
	margin-right: 0;
	border-width: 3;
}

.scrollbar-arrowright {
	padding: 1;
	margin-left: 0;
	border-width: 3;
}

/*
**	internal classes:
*/

_listview-headitem {
	background-color: active;
	padding: 0;
}

_scrollbar-arrow {
	margin: 0;
	border-width: 4;
	border-rim-width: 1;
	min-width: 12;
	min-height: 12;
}

_scrollbar-slider {
	margin: 0;
}
