body {
	color: #000;
	background-color: #fff;
	margin: 1em;
	font-family: verdana, arial, helvetica, geneva, sans-serif;
	font-weight: normal;
	line-height: 1.35em;
}

a:link, a:visited {
	color: #00f;
	text-decoration: none;
}

a:link:hover, a:visited:hover { background-color: #ddf; }

a:link:active, a:visited:active { color: #f00; }

code { font-family: monospace; }

pre {
	font-family: monaco, "dejavu sans mono", "lucida console", monospace;
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 0.3em;
}

code {
	font-family: monaco, "dejavu sans mono", "lucida console", monospace;
}

blockquote > ul { padding-left: 0; }

blockquote {
	margin-top: 0.2em;
	margin-bottom: 0.4em;
}

table { border-collapse: collapse; margin-top: 1em; margin-bottom: 1em; }

td {
	padding: 0.25em;
	border: 1px solid #ccc;
}

hr {
	border: 0px;
	height: 1px;
	background-color: #ccc;
}

ul { list-style-type: disc; margin-left: 0 }
